/* styles.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

html{
  background-color: black;
}
  